* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(cover.jpg);
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
}

main {
    position: relative;
    z-index: 1;
    width: 320px;
    margin: 50px auto;
    padding: 1px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

@media (max-width: 320px) {
    main {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #222;
    text-align: left;
}

li:first-child {
    border-top: 0;
}

li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: 75px;
}

li a img {
    vertical-align: middle;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 30px;
}

li a em {
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 0 20px;
    border: 1px solid #999;
    border-radius: 5px;
    font-style: normal;
    line-height: 1.75em;
    color: #999;
}

li a:hover em {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

figure {
    margin: 0;
    line-height: 0;
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    padding: 1em;
    background: #222;
    line-height: 1.25em;
    font-size: 0.8em;
}

a {
    text-decoration: underline;
    color: inherit;
}