* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #000;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
}

div.wrapper {
    height: 100%;
    overflow-y: auto;
}

main {
    position: relative;
    z-index: 1;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 50px auto;
    padding: 1px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

@media (max-width: 740px) {
    main {
        margin-top: 0;
        margin-bottom: 0;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    margin: 0;
    padding: 0;
    border-top: 1px solid #222;
    text-align: left;
}

li a {
    position: relative;
    display: block;
    padding: 0 20px;
    line-height: 75px;
    opacity: 0.75;
}

li a:hover {
    opacity: 1;
}

li a img {
    vertical-align: middle;
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 30px;
}

li a em {
    position: absolute;
    top: 22px;
    right: 20px;
    padding: 0 20px;
    border: 1px solid #999;
    border-radius: 5px;
    font-style: normal;
    line-height: 1.75em;
}

li a:hover em {
    background-color: #fff;
    border-color: #fff;
    color: #333;
}

figure {
    margin: 0;
    line-height: 0;
    backdrop-filter: blur(50px);
}

figure img {
    width: 100%;
    height: auto;
}

figcaption {
    padding: 2em 1em;
    font-size: 0.9em;
    line-height: 1.25em;
    color: #999;
}

figcaption strong {
    display: block;
    margin-bottom: 0.5em;
    color: #fff;
}

a {
    text-decoration: underline;
    color: inherit;
}

footer {
    margin: 0 0 50px 0;
    font-size: 0.9em;
    color: #999;
}

footer ul {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0 0.25em;
    padding: 0;
}

footer ul li a {
    all: unset;
    text-decoration: underline;
    cursor: pointer;
}